body {
  background-color: black;
}

h1 {
  color: white;
  text-align:center;
  font-family:helvetica;
}

h2 {
  color: white;
  font-family:helvetica;
}

div {
  padding-top: 50px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;
}

* {
  box-sizing: border-box;
  font-family: "Helvetica", Monaco, monospace;
}

body {
  margin: 0;
  font-family: "Helvetica", Monaco, monospace;
}


.main {
  margin-top: 30px;
}

/* Style the content */
.content {
  background-color: black;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sketch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* Make links dark */
#dark_link {
  color: black;
}

#dark_link:hover {
  color: white;
